* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* Changing link style  */
a {
    text-decoration-line: none;
    font-family: 'Josefin Slab', serif;
    color:  rgb(253, 233, 211);
    
}

/* Header containing flexbox navigation links */
.header-container {
    position: relative;
    font-size: 36px;
    
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Fredericka the Great', cursive;
    color: rgb(253, 233, 211);
    font-size: 1.5em;
    font-weight: normal;
    text-shadow: 6px 2px 4px rgb(44, 44, 44)   
}

.flex-container {
    display: flex;
    background-color: rgb(124, 66, 51);
    justify-content: flex-end;
    height: 40px;
}

.navs {
    margin-left: 20px;
    font-family: 'Josefin Slab', serif;
    color:  rgb(253, 233, 211);
    font-size: 20px;
    font-weight: bold;
    text-shadow: 6px 2px 4px rgb(44, 44, 44);
    padding: 10px;
}

.nav-contact {
    margin-right: 20px;

}

/* Show/Hide Font Awesome leaf icon on hover*/
.flex-container > div .fa-leaf {
    visibility: hidden;
    padding: 0px 6px;
    
}

.flex-container > div:hover .fa-leaf {
    visibility: visible;
}

/* Footer Sizing Magic with Flex Box @ philipwalton */
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

/* The actual footer */
.footer-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: rgb(124, 66, 51);
    height: 1vh;  
}

.footer-left {
    justify-content: flex-start;
    align-items: center;
    padding: 1rem; 
    background-color: rgb(105, 56, 44);  
    border-right: 1px solid rgba(182, 140, 96, 0.274);
}

.footer-left > p {
    font-family: 'Josefin Slab', serif;
    color:  rgb(253, 233, 211);
    font-size: 17px;
    font-weight: bold;
    padding: .2rem;
    text-shadow: 6px 2px 4px rgb(44, 44, 44);
}

.footer-middle {
    justify-content: center;
   
}

.footer-middle > i {
    visibility: visible;
    height: 20%;
}

.table-links, td, tr {
    font-family: 'Josefin Slab', serif;
    color:  rgb(253, 233, 211);
    font-size: 15px;
    font-weight: 200;
    padding: .1rem;
    text-shadow: 6px 2px 4px rgb(44, 44, 44);
    text-align: center;
}

.table-links > tr {
    text-align: center;
}

.footer-right {
    justify-content: flex-end;
    background-color: rgb(105, 56, 44);  
    border-left: 1px solid rgba(182, 140, 96, 0.274);
    
}

.footer-right-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    flex-flow: row wrap;
}

.footer-right > div {
    color: rgb(253, 233, 211);
    font-size: 17px;
    font-weight: 100;
    padding: .5rem;
    text-shadow: 6px 2px 4px rgb(44, 44, 44);
}

.social {

}

.footer-grow {
    flex: 1 1;
}

.footer-icons {
    visibility: visible;
    padding-right: 10px;
}

/* Media Queries */

@media only screen and (min-width: 532px) {
    .flex-container {
        flex-direction: row;
        position: sticky;
        top: 0;
    }
    .flex-vertical {
        display: none;
    }
}

@media only screen and (max-width: 536px) {
    .flex-container {
        position: absolute;
        flex-direction: column;
        align-items: flex-end;
        justify-content: stretch;
        height: 20px;
        width: 100%;
        z-index: 1;
    }
    .nav-contact {
        margin-right: 0px;
    }
    /*.flex-overlay {
        position: relative;
        background: rgb(124, 66, 51);
        height: 150px;
        width: 100px;
    
    }*/

    .navs {
        background-color: rgb(124, 66, 51);
        padding: 6px;
        
    }

}

@media only screen and (min-width: 1150px) {
    .footer-container {
        height: 8vh;
    }
}

@media only screen and (min-width: 1260px) {
    .footer-container {
        height: 10vh;
    }
}